<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VPIOrderService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="VPIOrderService.OrderService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="VPIOrderService.IOrderService" behaviorConfiguration="web"></endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <!--  automaticFormatSelectionEnabled="true"  this attribute turns on the process to show the xml in a different format -->
          <webHttp defaultOutgoingResponseFormat="Xml" helpEnabled="true" faultExceptionEnabled="false" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

 <appSettings>
    <add key="iSeries" value="DataSource=192.168.0.2; Naming=SQL; LibraryList=VTCUSTOM; UserId=JCENGAGE; Password=JC;" />
 </appSettings>
</configuration>